* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}



h1 {
    text-align: center;
    font-size: 5vh;
}

nav {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    box-shadow: 2px 2px;
    width: 80vh;
    margin: auto;
    margin-bottom: 2vh;
    padding: 1vh;
}

nav a {
    margin: auto;
    color: black;
}



.home-container{
    border: 2px solid black;
    box-shadow: 5px 5px;
    width: 100vh;
    margin: auto;
    padding: 5vh;
    font-size: 2vh;
    margin-bottom: 3vh;
}

.ranking-container {
    border: 2px solid black;
    box-shadow: 5px 5px;
    width: 100vh;
    margin: auto;
    padding: 5vh;
    font-size: 2vh;
    margin-bottom: 3vh;
    display: flex;
}

.ranking-container ol {
    line-height: 5vh;
}

.ranking-container img {
    margin-left: 20vh;
    width: 50vh;
    border: 2px solid black;
    box-shadow: 5px 5px
}



#pokemon-image {
    border: 2px solid black;
    box-shadow: 5px 5px;
    width: 100vh;

}

.contact-container {
    text-align: center;
    margin-bottom: 4vh;
}

.contact-container span {
    color: black;
    font-weight: bolder;
  }

.contact-container a {
  color: black;
  font-weight: bolder;
}